<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.legstar.pdi.zosfile"
   iconfile="ZOSFIN.png"
   description="z/OS File Input"
   tooltip="Reads binary z/OS records using LegStar"
   category="Input"
   classname="com.legstar.pdi.zosfile.ZosFileInputMeta">
   <libraries>
       <!-- runtime libraries -->
       <library name="${artifactId}-${version}.jar"/>
       <library name="${artifactId}-${version}-sources.jar"/>
       <library name="legstar-coxbrt-${legstar.version}.jar"/>
       <library name="legstar-coxbapi-${legstar.version}.jar"/>
       <library name="activation-1.1.jar"/>
       <library name="jaxb-api-2.1.jar"/>
       <library name="commons-io-1.4.jar"/>
       <!-- design libraries -->
       <library name="legstar-codegen-${legstar.version}.jar"/>
       <library name="legstar-cob2trans-${legstar.version}.jar"/>
       <library name="legstar-cob2xsd-${legstar.cob2xsd.version}.jar"/>
       <library name="legstar-coxbgen-${legstar.version}.jar"/>
       <library name="legstar-jaxbgen-${legstar.version}.jar"/>
       <library name="velocity-1.6.1.jar"/>
       <library name="XmlSchema-1.4.5.jar"/>
       <library name="ant-1.6.5.jar"/>
       <library name="antlr-runtime-3.2.jar"/>
       <library name="jaxb-impl-2.1.6.jar"/>
       <library name="jaxb-xjc-2.1.6.jar"/>
   </libraries>

   <localized_category>
       <category locale="en_US">Input</category>
       <category locale="fr_FR">Extraction</category>
   </localized_category>
   <localized_description>
       <description locale="en_US">z/OS File Input plugin</description>
       <description locale="fr_FR">Extraction de fichier z/OS</description>
   </localized_description>
   <localized_tooltip>
       <tooltip locale="en_US">Reads binary z/OS records using LegStar</tooltip>
       <tooltip locale="fr_FR">Lits des enregistrements binaires z/OS avec LegStar</tooltip>
   </localized_tooltip>
   
</plugin>
